html
    body
        div
            h1 Basic Encoder
            form(action='/encode', method='POST')
                input(type="text", name='str', placeholder="Enter your string")
                br
                input(type="submit", value="Start encoding")